body {
    color: #cdcdcd;
    font-family: 'Noto Sans', 'Open Sans', 'Segoe UI', 'sans-serif';
    margin: 7vh auto;
    max-width: 600px;
    padding: 0 10px;
    background-image:url('../images/northern-lights.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2em;
    border-radius: 1em;
    text-align: center;
}

.title {
    /* margin-block-start: 0; */
    font-size: 7em;
}

a {
    color: #60c5eb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;  
}
