body {
	background-color: #455A64;
}

.header-a:link {
	text-decoration: none;
}

.two-col-table {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

#header-tr {
	background: #607D8B;
}

.header-h1 {
	font-family: Arial,sans-serif;
	font-weight: 100;
	color: white;
}

.header-p {
	font-family: Arial,sans-serif;
	color: white;
}

.header-a {
	font-family: Arial;
	font-weight: bold;
	color: white;
}

.header-a:hover {
	color: #CFD8DC;
}

.header-ul {
	list-style-type: square;
	color: white;
}

#body-tr {
	color: #212121;
}

#profile-pic {
	width: 100%;
}

#head-col-one {
	width: 20%;
}

#head-col-two {
	width: 80%;
	padding: 10px;
}

#body-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.section {
	background-color: #607D8B;
	font-family: Arial;
	color: #212121;
	padding-left: 5px;
	padding-right: 5px;
}

.section-entry {
	margin: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 1px;
	background-color:#CFD8DC;
}

.section-header {
	color: white;
	font-weight: 200;
}

.section-entry-title {
	font-weight: 400;
}

.section-entry-title-link {
	color: #212121;
}

.section-entry-title-link:hover {
	color: #536DFE;
}