body {
	font-family: 'Noto Sans', 'Open Sans', 'Segoe UI', 'sans-serif';
	/* background-color: #0f1214; */
	/* background-color: #1e2328; */
	/* background-color: #262d33; */
	/* background-image: linear-gradient(#262d33, #1e2328); */
	margin: 0;
}

.outer-header {
	/* background-color: #1e2328; */
	background-color: #0f0f12;
}

.outer-body {
	/* background-color: #1e2328; */
	/* background-color: #0f1214; */
	/* background-color: #fafafa; */
	/* background-color: #222426; */
	/* background-color: #f3f3eb; */
}

.outer-footer {
	/* background-color: #1e2328; */
	background-color: #0f0f12;
	text-align: center;
	color:#aaa;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 0.75em;
}

.container {
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	
  }

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: #1e2328; */
	background-color: #0f0f12;
	flex-wrap: wrap;
}

.header-img {
	/* min-width: 0; */
	max-width: 100%;
	border-radius: 0.5em;
}

.header-img-box {
	flex-shrink: 0;
	flex-grow: auto;
	width: 15%;
	/* background-color: #1e2328; */
	background-color: #0f0f12;
}

.header-content-box {
	flex-shrink: 5;
	flex-grow: 5;
	padding: 10px 10px 10px 15px;
	color: #fff;
	/* background-color: #131619; */
}

.name-header {
	font-family: 'Rubik', non-serif;
	font-weight: 400;
}

.name-subtitle {
	font-family: 'Rubik', non-serif;
	color:#aaa;
}

.header-link {
	color: #60c5eb;
	text-decoration: none;
	transition: 0.3s;
}

.header-link:hover {
	color: #fff
}

.header-link-li {
	color: #60c5eb;
}

.section-container {
	border-radius: 0, 0, 0.5em, 0.5em;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

 .section-container.team {
	/* background-color: #99d868; */
	/* background-color: #222426; */
	/* background-color: #f3f3eb; */
	/* background-color: #A5D0A8; */
	margin-top: 1em;
	margin-bottom: 1em;
}

.section-container.personal {
	/* background-color: #6899d8; */
	/* background-color: #222426; */
	/* background-color: #f3f3eb; */
	/* background-color: #8CADA7; */
}

.section-header {
	margin-block-start: 0;
	padding-block-start: 0.5em;
	text-align: center;
	padding-bottom: 0.25em;
	padding-top: 0;
	margin-bottom: 1px;
	/* color: #f3f3eb; */
	font-weight: 400;
}

.section-header.team {
	border-bottom: 1px solid #b2ff59;
}

.section-header.personal {
	border-bottom: 1px solid #40c4ff;
}

.body-link {
	color: #aaa;
}

.project-outer-box {
	/* background-color: #e8f4f8; */
	/* background-color: #fafafa; */
	/* background-color: #f3f3eb; */
	background-color: #ffffff;
	padding: 0.5em;
	margin-bottom: 0.25em;
	border-radius: 0.5em;
	/* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); */
}

.project-header {
	margin-top: 0;
	margin-bottom: -0.5em;
	font-weight: 400;
	font-family: 'Rubik', non-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.project-header-title {
	font-size: 2em;
}

.project-header-subtitle {
	font-size: 0.9em;
	color: #666;
}

.project-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
	justify-content: space-evenly;
}

.project-item {
	max-width: 100%;
}

.project-photo {
	width: 100%;
	text-align: center;
}

.project-description {
	margin-left: 1em;
	flex-grow: 1;
}

.project-image {
	max-width: 100%;
	max-height: 200px;
	border-radius: 0.5em;
	/* box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); */
	/* border: solid 1px #ddd; */
	/* height: 300px; */
}

.action-link {
	background-color: #fafafa;
	padding: 0.33em 1em 0.33em 1em;
	margin-right: 0.5em;
	font-size: 0.9em;
	border-radius: 0.5em;
	text-decoration: none;
	/* font-weight: 900; */
	transition: 0.3s;
	display: inline-block;
}

.action-link.team {
	/* border: 1px solid #3a9126; */
	/* border: 1px solid #e8c128; */
	/* border: 1px solid #716848; */
	border: 1px solid #73b677;
	/* color: #3a9126; */
	/* color: #e8c128; */
	/* color: #716848; */
	color: #73b677;
}

.action-link.team:hover {
	/* background-color: #3a9126; */
	/* background-color: #e8c128; */
	background-color: #716848;
	color: #fff;
}

.action-link.personal {
	/* border: 1px solid #263a91; */
	/* border: 1px solid #33d54e; */
	border: 1px solid #716848;
	/* color: #263a91; */
	color: #33d54e;
	color: #716848;
}

.action-link.personal:hover {
	/* background-color: #263a91; */
	/* background-color: #33d54e; */
	background-color: #716848;
	color: #fff;
}

.chip {
	background-color: #fafafa;
	border: 1px solid #aaa;
	padding: 0.33em 1em 0.33em 1em;
	border-radius: 1em;
	margin-right: 0.5em;
	font-size: 0.8em;
	display: inline-block;
}

.java {
	background-color: #b07219;
	color: #ffffff;
	border: none;
}

.html {
	background-color: #e34c26;
	color: #fff;
}

.css {
	background-color: #563d7c;
	color: #fff;
}

.js {
	background-color: #f1e05a;
	color: #000;
}

@media only screen and (min-width: 500px) {
	.project-box {
		flex-wrap: nowrap;
	}

	.project-item {
		max-width: 50%;
	}

	.project-photo {
		text-align: right;
		width: 27vw;
	}
}

@media only screen and (min-width: 768px) {
	.container {
	  width: 750px;
	}
  }
  @media only screen and (min-width: 992px) {
	.container {
	  width: 970px;
	}
  }
  @media only screen and (min-width: 1200px) {
	.container {
	  width: 1170px;
	}
  }