body {
	background-color: #fafafa;
}

.header-a:link {
	text-decoration: none;
}

.two-col-table {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1vw;
	padding-right: 1vw;
}

#header-tr {
	background-color: #4CAF50;
}

.header-h1 {
	font-family: 'Roboto',Arial,sans-serif;
	font-weight: 300;
	color: #fff;
}

.header-p {
	font-family: 'Roboto',Arial,sans-serif;
	color: #fff;
}

.header-a {
	font-family: 'Roboto',Arial,sans-serif;
	color: #fff;
}

.header-a:hover {
	color: #BBDEFB;
}

.header-ul {
	list-style-type: square;
	color: #fff;
}

#body-tr {
	color: #212121;
}

#profile-pic {
	width: 100%;
}

#head-col-one {
	width: 20%;
}

#head-col-two {
	width: 80%;
	padding: 0.7em;
}

#body-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 1vw;
	padding-right: 1vw;
}

.section {
	background-color: #C8E6C9;
	font-family: 'Roboto',Arial,sans-serif;
	color: #212121;
	padding-top: 0.1em;
	padding-bottom: 0.5em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	
	margin-left: 0.1em;
	margin-right: 0.1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.section-entry {
	margin: 2px;
	padding: 0.1em;
	padding-left: 0.5em;
	background-color: #fafafa;
}

.section-header {
	color: #212121;
	font-weight: 200;
}

.section-entry-title {
	font-weight: 400;
}

.section-entry-title-link {
	color: #212121;
}

.section-entry-title-link:hover {
	color: #8BC34A;
}